<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="layout/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">

    <style>
        img {
            width: 350px;
            height: 300px;
        }
    </style>

</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">


    <main class="album py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm" id="card">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="30" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"><img src="/img/Web/Seven_Main.png"></rect></svg>
                        <div class="card-body">
                            <p class="card-text">Seven System 매장의 매출 조회 웹 사이트</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" th:href="@{/web}" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a type="button" download="Seven_System_Web" href="img/Web/Seven_Kiosk-Web_View_Page.pdf" class="btn btn-sm btn-outline-secondary">PDF 다운로드</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm" id="card">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="30" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"><img src="/img/App/main.png"></rect></svg>

                        <div class="card-body">
                            <p class="card-text">Seven System 매장 App</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" th:href="@{/app}" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a type="button" download="Seven_System_App" href="img/App/Seven_Kiosk_App_Theme.pdf" class="btn btn-sm btn-outline-secondary">PDF 다운로드</a>
                                </div>
                                <small class="text-muted">3 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

</div>
</html>